
@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular-webfont-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('./fonts/roboto-light-webfont-webfont.woff2') format('woff2'),
         url('./fonts/roboto-light-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto-bold-webfont-webfont.woff2') format('woff2'),
         url('./fonts/roboto-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body{
    background-color: #FAFAFA;
    font-family: 'robotoregular';
    font-size: 16px;
    color: #657385;
}

.dr-title{
    padding: 2px;
    display: inline-block;
    font-family: 'robotoregular';
    color: #657385;
}
.dr-title.diff{
    padding-right: 10px;
    
}
.btn {
    font-size: 16px;
}



